html{
    height:100%;
}
body{
    font-size:16px;
    height:100%;
    margin-top: 30px;
    background: #ECE9E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#userFormArea{
    margin-top:120px;
}
#menuArea{
    display:none
}
.messageForm, .form-control, .btn{
    font-size:16px;
}
#map{
    height:75%;
    display:none;
}
#users{
    font-size: 16px;
}
.gm-style-iw {
    font-size: 18px !important;
    overflow-x: hidden !important;
    overflow-y: scroll !important;
    word-wrap: break-word !important;
    max-height: 150px !important; 
}
.modal-body{
    background-color: rgb(180, 224, 254);
    overflow: auto;
}
.well, .well-sm{
    word-wrap: break-word;
}
.sentMessage{
    background-color: rgb(159, 249, 161);
    max-width: 60%;
    margin-bottom: 7px;
}
.receivedMessage{
    background-color: rgb(237, 247, 255);
    max-width: 60%;
    margin-bottom: 7px; 
}
.menu-col{
    padding: 0px 4px 15px 4px;
}

.numberOfUsers{
    font-style: normal;
}